@using System.Linq.Expressions
@using Microsoft.AspNetCore.Components.Forms

<label for="@Id" class="form-label">@Label</label>
<InputNumber class="form-control" id="@Id" Value="@Value" ValueChanged="ValueChanged" ValueExpression="ValueExpression" />
@if (Validation)
{
    <ValidationMessage For="ValueExpression" />
}
<div class="mt-3"></div>

@code
{
    private Guid Id { get; set; } = Guid.NewGuid();

    [Parameter]
    public string Label { get; set; } = String.Empty;
    
    [Parameter]
    public int Value { get; set; }
    
    [Parameter]
    public Expression<Func<int>> ValueExpression { get; set; } = null!;

    [Parameter]
    public EventCallback<int> ValueChanged { get; set; }

    [Parameter]
    public bool Validation { get; set; } = true;
}